.inputs {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}
.inputs label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.inputs input {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.inputs input:focus {
    outline: none;
    border-color: #22b455;
    box-shadow: 0 0 5px #22b455;
}
.inputs input[type=date] {
    color: #ffffff;
}
.inputs input[type=date]::before {
    content: attr(placeholder);
    position: absolute;
    color: #777474;
}
.inputs input[type=date]:focus, input[type=date] :valid {
    color: #666666;
}
.inputs input[type=date]:focus::before, input[type=date] :valid::before {
    content: "";
}

.errMsg {
    composes: errMsg from './input-hint/InputHint.module.css';
}